$primary-color: #FFFFFF;
$secondary-color: #1F1F1F;
$additional-color: #F2F2F3;

$text-primary-color: #000000; 
$text-secondary-color: #FFFFFF;
$text-additional-color: #7E7E7E;

$faded-light: #F5E4DE;
$color-beige: #FAECCC;
$light-grayish-lime-green: #DAE4EE;
$light-gray-blued: #E9E9EC;


$page-width: 1440px;
$content-width: 1216px;
$tablet-width: 1215px;
$tablet-content-width: 770px;
$mobile-width: 769px;
$mobile-content-width: 350px;
